@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Display:ital@0;1&family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-ink;
  }
}

@layer utilities {
  .font-arabic {
    font-family: 'Noto Naskh Arabic', serif;
  }
  .font-display {
    font-family: 'DM Serif Display', serif;
  }
  .font-mono {
    font-family: 'DM Mono', monospace;
  }
}
